:root {
  --width: 1000px;
  --height: 650px;
}

body {
  background-color: black;
}

#main {
  position: relative;
  color: white;
  margin: 0 auto;
  width: var(--width);
  height: var(--height);
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: fit-content;
}

canvas {
  position: absolute;
  top: 0;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.footer {
  width: fit-content;
  margin: 0 auto;
}

#display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width);
}

#score,
#info {
  width: 200px;
  color: white;
  font-size: 28px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

#start {
  width: 160px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}

#start:hover {
  background-color: #464646;
}